/*
* Custom navigation bar
*/
.navbar-custom {
  background-color: white;
  color: #1890ff;
}

.nav-link {
  color: #8c8c8c;
  font-weight: 400;
}

.nav-link.active {
  color: black;
  font-weight: 500;
  border-bottom: 2px solid #1890ff;
}

.navbar-toggler-icon {
  color: black;
}

.nav-link:hover {
  color: #262626;
}

.navbar-brand,
.navbar-brand:hover {
  color: black;
  font-weight: 600;
}

.logo {
  width: 1.5em;
  height: auto;
  padding-right: 3px;
}

/*
* Masthead
*/

header {
  padding-top: 3em;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.section-a {
  margin: 2rem 0;
}

.section-a .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.section-a p {
  margin: 1rem 0;
  font-size: 1.25em;
}

.section a {
  color: black;
}

.section-a .social-button {
  background-color: black;
  width: 150px;
}

.section-a h1 {
  font-style: "Roboto", sans-serif;
  color: black;
  font-weight: 700;
  font-size: 4em;
}

.section-a img {
  height: auto;
  width: 75%;
}
